.card{
    border-radius: 5px;
}
.titulo{
    
    font-family: 'Kanit', sans-serif;
}
.body-titulo label{
    font-size: 1.25em;
    border-radius: 10px;
}
form label{
    font-size: 18px;
    font-weight: bold;
}
form input{
    font-size: 1em;
}