<div class="card h-100 py-3 w-100 border-0 shadow Menu-Left">
    <nav class="nav h-100  flex-column text-center navLeft-1">
        <a class="nav-link pt-4" routerLink="../add-venta"><i class="fas fa-shopping-cart fa-2x"></i></a>
      <a class="nav-link " routerLink="../list-clientes"><i class="fas fa-users fa-2x"></i></a>
      <a class="nav-link pt-4" routerLink="../list-productos"><i class="fas fa-clipboard-list fa-2x"></i></a>
      <a class="nav-link pt-4" routerLink="../list-ventas"><i class="fas fa-dollar-sign fa-2x"></i></a>
    </nav>
    <nav class="nav h-100  flex-column text-center justify-content-end navLeft-2">
      <a class="nav-link pt-5 " href="#"><i class="fas fa-cog fa-2x"></i></a>
    </nav>
</div>
   