<div class="row">
    <div class="col-lg-8">
      <h1>Lista Ventas</h1>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-success "data-toggle="modal" data-target="#addClienteModal">Nueva Venta</button>
    </div>
  </div>
  <div class="row mt-2">
    <table class="table table-dark table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Nº Factura</th>
          <th scope="col">Fecha de Factura</th>
          <th scope="col">Cliente</th>
          <th scope="col">Nº Productos</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of listFacturas" >
          <td scope="col">{{factura.codigoFactura}}</td>
          <td scope="col">{{factura.fechaFactura}}</td>
          <td scope="col">{{factura.cliente.nombres}}</td>
          <td scope="col">{{factura.listDetalles}}</td>
          <td scope="col">{{factura.totalCompra}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>