<div class="container-fluid">
  <form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input [(ngModel)]="varCliente.identificacion" class="form-control" name="IdentificacionCliente" type="text" placeholder="Identificacion">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input [(ngModel)]="varCliente.nombres" class="form-control" name="NombresCliente" type="text" placeholder="Nombres">
        </div>
        <div class="form-group col-md-6">
            <input [(ngModel)]="varCliente.apellidos" class="form-control" name="ApellidosCliente" type="text" placeholder="Apellidos">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input [(ngModel)]="varCliente.telefono" class="form-control" name="TelefonoCliente" type="number" placeholder="Telefono">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input [(ngModel)]="varCliente.direccion" class="form-control" name="DireccionCliente" type="text" placeholder="Direccion">
        </div>
    </div>
  </form>
</div>
